body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #282C34, #686275, #8F7F96, #E7BAD1);
    color: #F5F9FF;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos do contêiner do gerenciamento */
#gerenciar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #F5F9FF;
}

#gerenciar span {
    color: white; /* Cor do texto */
    font-size: 1.1rem; /* Aumenta um pouco o tamanho da fonte */
}

h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.subtitle {
    text-align: center;
    margin-bottom: 1rem;
}

.container-form  {
    background: rgba(40, 44, 52, 0.9);
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    height: auto;
    width: 465px;
    color: #F5F9FF;
}

.label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: #F5F9FF;
}

.input-field {
    margin-bottom: 1.5rem;
    width: 100%;
    color: #F5F9FF;
    box-sizing: border-box;
}

.input-field input::placeholder,
.input-field select::placeholder {
    color: #F5F9FF; /* Cor do placeholder - branca */
    opacity: 0.7; /* Opacidade, se desejar um efeito sutil */
}

.input-field input,
.input-field select {
    width: 100%;
    padding: 1rem;
    border: 1px solid #E7BAD1;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    color: #F5F9FF;
    caret-color: #F5F9FF;
}

.input-field input::placeholder,
.input-field select::placeholder {
    color: #F5F9FF; /* Cor do placeholder */
    opacity: 0.7; /* Opacidade do placeholder */
}

.input-field .icon {
    position: absolute;
    right: 10px; /* Alinha o ícone à direita */
    top: 30%; /* Centraliza o ícone à direita dentro do input */
    transform: translateY(-50%);
    background: transparent; /* Remover fundo */
    border: none; /* Remover borda */
    color: #F5F9FF; /* Cor do ícone */
    cursor: pointer; /* Mudar cursor para pointer */
    pointer-events: all; /* Permitir eventos do mouse */
}

.input-field input:focus,
.input-field select:focus {
    border-color: #8F7F96;
    outline: none;
}

.input-wrapper {
    position: relative;
}

.input-wrapper button  {
    border: none; /* Remove a borda */
    padding: 0; /* Remove o padding */
    cursor: pointer; /* Mantém o cursor de ponteiro ao passar o mouse */
    position: absolute; /* Posiciona o botão */
    right: 5px; /* Ajustar conforme necessário */
    top: 60%; /* Alinha verticalmente */
    width: 30%; /* Permite que o botão ajuste a largura  */
    height: 30%; /* Permite ajuste da altura do botão  */
    transform: translateY(-50%); /* Centraliza verticalmente */
    opacity: 0.2;
}

#gerenciar input[type="submit"],
#gerenciar button {
    width: 100%;
    padding: 1rem;
    background-color: #686275;
    color: #F5F9FF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-weight: bold;
    font-size: 18px;
}

#gerenciar button:hover,
#gerenciar input[type="submit"]:hover {
    background-color: #8F7F96;
    color: #F5F9FF;
    font-weight: bold;
}

.message {
    margin: 1rem 0;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.1);
    color: #FF3D3D;
}

.users-container {
    margin-top: 2rem; /* Espaço acima do container de usuários */
    background-color: rgba(40, 44, 52, 0.9); /* Fundo para combinar com o formulário */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* Sombra */
}

.users-container h3 {
    color: white; /* Cor do título */
    text-align: center; /* Centraliza o título */
    margin-bottom: 1rem; /* Espaço abaixo do título */
}

